.contacto{
	padding-left: 2.5vw;
}

.noticia{
	border: 1px #cccccc solid;
	border-width: 2px;
	box-sizing: border-box;
	margin: 2.5vh; 
}

.footer{
	background-color: #4EBBB7;
}

.navbar {
  min-height: 90px;
}

.navbar-brand {
  padding: 0 15px;
  height: 90px;
  line-height: 90px;
}

.formulario{
	padding-left:  3vw;	
	padding-right:  3vw;	
}

.social{
	float: right;
	margin-left: 20px;
	margin-bottom: 10px;
	font-size:60px;
	color:#FFFFFF;
}	

.space{
	margin-top: 5vh;
	margin-bottom: 5vh;
}

.centrado{
	text-align: center;
}

.separador{
	border-bottom: 2px solid #FFCD6B;
	margin-bottom: 10px;
}

.mas{
	text-align: right;
}

.fix-barra-fija{
	margin-top: 100px;
}